.c-header__topbar {
height: 0.5rem;
background-image: linear-gradient(to right, #2053AB, #183f81);
width: 100%;
}

.c-footer__bottombar {
height: 0.5rem;
background-image: linear-gradient(to right, #2053AB, #183f81);
width: 100%;
}

.o-page-topbar {
 grid-row: grid-topbar;
 }


.sm-dox {
padding: 0 10px;
background-image: linear-gradient(to right, #2053AB, #183f81);
line-height: 36px;
}

/* override van deze stijl t.b.v. knoppenbalk kleur tekst en geen schaduw */
.sm-dox a, .sm-dox a:focus, .sm-dox a:hover, .sm-dox a:active {
padding: 0 12px;
padding-right: 43px;
font-family: "Lucida Grande","Geneva","Helvetica",Arial,sans-serif;
font-size: 13px;
font-weight: bold;
line-height: 36px;
text-decoration: none;
text-shadow: 0  0 0 rgba(255,255,255,0.9);
color: #ffffff;
outline: 0;
}


.navpath ul {
font-size: 11px;
background-image: linear-gradient(to right, #2053AB, #183f81);
background-repeat: repeat-x;
background-position: 0 -5px;
height: 30px;
line-height: 30px;
color: #BA9CB1;
border: solid 1px #DBCBD6;
overflow: hidden;
margin: 0px;
padding: 0px;
}